* {
    margin: 0;
    padding: 0;
    outline: none;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background: #353535;
    
  }
  
  .container {
    display: flex;
    flex-direction: row;
    gap: 20px; 
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 20px; 
  }
  
  .card { 
    width: 280px;
    height: 500px;
    margin: 15px;
    border-radius: 25px;
    box-shadow: -11px 11px 5px rgba(0, 0, 0, 0.3);
  }
  
  .card-head {
    position: relative;
    height: 252px;
    background: #fa782e;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #fa782e 8%, #c82930 83%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fa782e', endColorstr='#c82930', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    border-radius: 25px 25px 0 0;  
  }
  .card-head img{
    border-radius: 25px 25px 0 0; 
    display: block;
    width: 280px;
    height: 252px;
  }
  
  
  .card-body {
    height: 255px;
    background: #fff;
    border-radius: 0 0 25px 25px;
  }
  
  .product-title {
    padding: 20px 20px 5px 20px;
    display: block;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .product-title b {
    font-weight: 900;
    letter-spacing: 0px;
  }
  
  
  .product-code {
    display: block;
    padding: 0 20px;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
  }
  
  .product-description-body{
    height: 80px;
    padding: 0 20px;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    margin-top: 8px;
  }
  .product-description-body h4 {
    font-size: 13px;
    padding: 0 0px;
    margin-top: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
  .product-description{
    padding: 0 20px;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    margin-top: 15px;
  }
  .product-description h4 {
    font-size: 13px;
    padding: 0 0px;
    margin-top: 15px;
    
    text-transform: uppercase;
  }
  
  

  
  .product-supplier h4 {
    left: 20px;
    text-transform: uppercase;
    width: 100%; 
    padding: 0 20px 10px; 
    box-sizing: border-box; 
    font-size: 13px;
    text-transform: uppercase;
  }
  

  
  .product-price b {
    margin-left: 5px;
  }
  
  
.action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.edit-button{
  margin-left: 20px;
  cursor: pointer;
  transition: transform 0.5s;
}
.delete-button:hover{
  transform: scale(0.9);
}
.edit-button:hover{
  transform: scale(0.9);
}
.delete-button{
  margin-right: 20px;
  cursor: pointer;
  transition: transform 0.5s;
}
.action-buttons img {
  width: 40px; 
  height: 40px; 
}

.add-button {
  position: fixed;
  bottom: 10px;
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  background: -moz-linear-gradient(-45deg, #c82930 8%, #fa782e 83%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #c82930 8%, #fa782e 83%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #c82930 8%, #fa782e 83%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c82930', endColorstr='#fa782e', GradientType=1);
  border-radius: 5px;
  box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
  transition: transform 1s, background 1s;
}


.add-button {
  right: 10px;
  order: 2;
  border-radius: 100px;
}

.add-button::before {
  content: url('../recourses/plus30.png');
  display: inline-block;
}
.add-button:hover {
  background: linear-gradient(135deg, #fa782e 25%, #c82930 108%);
  transform: scale(1.15);
} 


.input-code{
  margin-left: 20px;
  margin-right: 20px;
  width: calc(80%);
  border-radius: 10px;
}