<section>
    <div class="row content main1">
      <section class="col col_md-12 col_sm-12 col_xs-12">
        <div class="main1__content">
          <div class="main1__content__text-block">
            <h1 class="title-maincontent">Frontend-разработчик</h1>
            <p>
              Трехмесячный бесплатный учебный курс от Финтеха, который можно
              проходить из любой точки России
            </p>
          </div>
          <button class="main1__content__button" type="button" onclick="scrollToForm()">Подать заявку</button>
          <img src="/assets/images/frontend.png" alt="Фронтенд технологии" />
        </div>
      </section>
    </div>
  </section>